<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1253,303},{246,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1501,303},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1747,303},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{319,1167},{246,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{567,1167},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,1167},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1,1645},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>11S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{407,1573},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1253,709},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1161,955},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1059,1201},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>12S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1059,1447},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{813,1573},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1059,1693},{244,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>13S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1465,1201},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1465,1607},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1659,709},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1S.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1711,1115},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2C.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,404}</string>
                <key>spriteSourceSize</key>
                <string>{246,406}</string>
                <key>textureRect</key>
                <string>{{1711,1521},{244,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubbet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,92}</string>
                <key>spriteSourceSize</key>
                <string>{322,92}</string>
                <key>textureRect</key>
                <string>{{407,1819},{322,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubtcollecta.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{1871,1},{268,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dubtdua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,96}</string>
                <key>spriteSourceSize</key>
                <string>{268,96}</string>
                <key>textureRect</key>
                <string>{{363,1913},{268,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dubwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,100}</string>
                <key>spriteSourceSize</key>
                <string>{360,100}</string>
                <key>textureRect</key>
                <string>{{1,1891},{360,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ducardselect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,476}</string>
                <key>spriteSourceSize</key>
                <string>{316,476}</string>
                <key>textureRect</key>
                <string>{{1,1167},{316,476}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dudealer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,64}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{1711,1927},{190,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dugameover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{616,300}</string>
                <key>spriteSourceSize</key>
                <string>{636,326}</string>
                <key>textureRect</key>
                <string>{{1253,1},{616,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duinfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{1250,824}</string>
                <key>spriteSourceSize</key>
                <string>{1320,918}</string>
                <key>textureRect</key>
                <string>{{1,1},{1250,824}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duplayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,64}</string>
                <key>spriteSourceSize</key>
                <string>{190,64}</string>
                <key>textureRect</key>
                <string>{{1059,1939},{190,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dustar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1161,827},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dustarblue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,85}</string>
                <key>spriteSourceSize</key>
                <string>{90,85}</string>
                <key>textureRect</key>
                <string>{{1567,955},{90,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duwinbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{1158,338}</string>
                <key>spriteSourceSize</key>
                <string>{1230,400}</string>
                <key>textureRect</key>
                <string>{{1,827},{1158,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gamble_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,79}</string>
                <key>spriteSourceSize</key>
                <string>{270,79}</string>
                <key>textureRect</key>
                <string>{{1905,709},{270,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamble_1.png</string>
            <key>size</key>
            <string>{1992,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c3bbdc49c2f847834728beae612aff:8011b3245c42eda382246e38fa8031ec:d2d1af1c89c30dc76d57b046393fad8b$</string>
            <key>textureFileName</key>
            <string>gamble_1.png</string>
        </dict>
    </dict>
</plist>